* {
  margin: 0;
  padding: 0;
}



nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 10px;
}

.navBarTitle{
  padding-left: 10px;
  font-size: 2vw;
}

.navBarTitleSmallScreen{
  padding-left: 10px;
  font-size: 2.5vw;
}

.navButtons{
  font-size: 1.5vw;
}

.navButtonsSmallScreen{
  font-size: 2vw;
}

.contactLi{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1vw;
  background-color: black;
  color: white;
  font-size: .5vw;
}

.icon{
  /* margin-left: 3vw;
  margin-right: 3vw; */
  padding-left: 2vw;
  padding-right: 2vw;
}

.centerContactBanner{
  display: flex;
  align-items: center;
  justify-content: center;

}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  font-weight: bold;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;

}

.content {
  display: flex;
  align-items: left;
  justify-content: left;
  padding-top: 30px;
  padding-left: 60px;
  height: 100vh;
  background-color: crimson;
  margin: 30px;
  border-radius: 30px;
  
}

.content-header {
  color: white;
  text-transform: capitalize;
}

.scroll-header {
  background-color: black;
  color: white;
  padding-left: 5vh;

}

.tile-padding{
  background-color: black;
  /* padding: 1vw; */
  /* box-sizing: border-box; */

  border: yellow 3px solid;
  
}

.horizontal {
  align-items: center;
  justify-content: center;
  color: black;
  background-color: black;
}

.main{
  width: 25vw;
  height: 75vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.App{
  width: 99vw;
  height: 100%;
  /* background-color: black; */
}



.background{
  background-color: black;
}

.responsiveFontSizing{
  font-size: .75vw;
  padding-bottom: 2vw;
  /* border: solid 3px yellow; */
}

.responsiveFontSizingSmallScreen{
  font-size: 1.1vw;
  padding-bottom: 2vw;


}

.contentBanner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  height: auto;
  width: 99vw;
  padding: 1vw;
  object-fit: scale-down;
  background-color: black;


}

.contentBanner img{
  height: auto;
  width: 90vw;
  /* border: solid 3px blue; */
  border-radius: 3vw;
}

.contentBanner div{
  color: white;
  font-size: 5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spacerBar{
  padding-bottom: 5vw;
  background-color: black;
}

.scrollBlock{
  width: 99vw;
  height: 40vw;
  object-fit: scale-down;
}

.displayTiles{
  background-color: black;
  /* border: solid 3px yellow;
  border-radius: 30px; */
  justify-content: center;
  align-items: center; 
  width: 40vw;
  padding-bottom: 9vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
  object-fit: scale-down;
}

.displayTiles div{
  background-color: black;
  color: white;
  /* height: 18vw; */
  /* border-bottom: solid 3px pink;
  border-left: solid 3px pink;
  border-right: solid 3px pink;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */

}

.displayTiles img{
  width: 100%;
  height: auto;
  object-fit: contain;
  /* border: solid 3px yellow; */
  border-radius: 2vw;
}

.displayTiles img:hover{
  /* border: solid 3px yellow; */
  border: solid white .2vw;
  width: 105%;
}


.dTGames{
  width: 31vw;

}

.dTShirts{
  width: 26vw;
}

/* .dTVideos{
  width: 45vw;
} */

/* .dTGits{
  width: 55vw;
} */

/* .iframe{
  width: 100vw;
  height: 100%;
  object-fit: contain;
  background-color: black;
} */

.playButton{
  padding-top: 1vw;
  padding-bottom: 1vw;
}



.playButton a{
  font-size: 1.5vw;
  color: blue;
  background-color: blueviolet;
  border: solid 3px blue;
  border-radius: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.playButton a:hover{
  color: black;
  background-color: pink;
  border: solid 3px darkslategray;
}

.horzo{
  background-color: black;
}