nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  color: white;
  padding: 10px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  font-weight: bold;

}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;

}

.content {
  display: flex;
  align-items: left;
  justify-content: left;
  padding-top: 30px;
  padding-left: 60px;
  height: 100vh;
  background-color: crimson;
  margin: 30px;
  border-radius: 30px;
  
}

.content-header {
  color: white;
  text-transform: capitalize;
}

.scroll-header {
  background-color: black;
  color: white;
  padding: 30px;

}

.tile-padding{
  background-color: black;
  padding: 1vw;
  box-sizing: border-box;
  
}

.horizontal {
  align-items: center;
  justify-content: center;
  color: black;
  background-color: black;
}

.main{
  width: 25vw;
  height: 75vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.App{
  width: 99vw;
  height: 100vh;
  background-color: black;
}

.lamberteDesign{
  padding-left: 30px;
}

.bg1{
  background-color: aqua;
  padding: 30px;
}

.bg2{
  background-color: red;
}

.bg3{
  background-color: blue;
}

.bg4{
  background-color: green;
}

.bg5{
  background-color: purple;
}

.background{
  background-color: black;
}

.seattleimage{
  display: flex;
  justify-content: right;
  align-items: right; 
  height: auto;
  width: 99vw;
  /* padding: 1vw; */
  object-fit: scale-down;
  border: solid red 4px;
}

.seattleimage img{
  height: auto;
  width: 70vw;
  padding: 1vw;
}